@import "tailwindcss";

@font-face {
  font-family: cereal;
  src: url('/Airbnb Cereal-fontiko/AirbnbCereal_W_Bk.otf');
}

* {
  font-family: cereal;
}

#logo, #logo-mini {
  height: 40px;
  margin: 20px;
}

#browser {
  height: 30px;
}

#menu {
  height: 20px;
}

#user {
  height: 25px;
}

#search {
  height: 25px;
}